body {
    font-family: 'Open Sans';
    color: white;
}

/*GLOBAL STYLE*/
.container-fluid {
    padding: 0px;
    margin: 0px;
}

.row {
    padding: 0px;
    margin: 0px;
}

.column {
    margin: 0px;
    padding: 0px;
}

.container-fluid2 {
    align-content:center;
    text-align: center;
    padding: 70px 50px 70px 50px;
    margin: 0px;
}

h1 {
    font-size: 60px;
    font-family: 'Open Sans';
}

h1, h2, h3, h4, p {
    font-family: 'Open Sans';
}



/*NAVBAR STYLE*/

nav#navvy.navbar.navbar-static-top {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #474E5D;
}

.navTextFormat {
    font-family: 'Open Sans';
    font-size: 14px;
    color: white;
}



/*MAIN PICTURE JUMBOTRON STYLE*/

.firstPic {
    background-image: url('Images/tuscany-villas-sant-anna.jpg');
    background-size: cover;
    height: 365px;
}

.secondPic {
    background-image: url('Images/Versilia.jpg');
    background-size: cover;
    height: 365px;
}


/*BANNER/DIVIDER STYLE - FOOTER at bottom of style page*/

.bannerDivide {
    height: 140px;
    padding: 20px;
    text-align: center;
    background-color: #474E5D;
    margin: 0px;
}


/*LOCATIONS STYLE*/

.thirdPic {
    background-image: url('Images/italy-mountain-villa.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
}

.fourthPic {
    background-image: url('Images/modern-villa.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
}

.fifthPic {
    background-image: url('Images/tuscany-grape-field-nature-51947.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
}

.row.formatMarginColor {
    padding: 60px 50px 60px 50px;
    color: #474E5D;
}

.row.formatPadding {
    padding: 60px 50px 50px 60px;
}

.textBoxMargin {
    margin: 0px 0px 60px 0px;
    padding-right: 30px;
}

.invertedColors {
    background-color: #474E5D;
    color: white;
}



/*AMMENITIES & GRID STYLE*/

.sixthPic {
    background-image: url('Images/3b-348x348.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    width: 415px;
}

.seventhPic {
    background-image: url('Images/42-348x348.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    width: 415px;
}

.eighthPic {
    background-image: url('Images/314-348x348.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    width: 415px;
}

.ninthPic {
    background-image: url('Images/Villa-Rucellai-Toscani-2812-2-348x348.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    width: 415px;
}

.tenthPic {
    background-image: url('Images/Villa-Vanna-231-348x348.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    width: 415px;
}

.jumbotron-fluid {
    margin: 0px;
    padding: 0px;
    text-align: center;
}

.blueTextBox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgbA(71, 78, 93, 0.75);
    padding: 30px;
}
.gridTextFormat {
    padding: 40px 20px 30px 20px;
    color: #474E5D;
    height:400px;
    width:415px;
}



/*BUTTONS STYLE*/

.btn.btn-default.invertedBtnColors {
    background: white;
    color: #474E5D;
    border-radius: 0;
}

.btn.btn-default {
    background: #474E5D;
    color: white;
    border-radius: 0;
}



/*CAROUSEL STYLE*/

.carousel.slide {
    height: 250px;
}

.carousel-indicators .active {
    background-color: #474E5D;
}

.item{
    color: #474E5D;
    text-align:center;
    padding: 60px 0px 0px 0px;
}



/*CONTACTS STYLE*/

.contactsFormat {
    padding: 60px 30px 60px 30px;
    color: #474E5D;
}



/*FOOTER STYLE*/

.bannerFooter {
    height: 200px;
    padding: 30px;
    text-align: center;
    background-color: #474E5D;
    margin: 0px;
}
